<div class="mafia">
  <div class="mafia-topbar">
    <div class="role-topbar-item" *ngFor="let item of this.activeRoles">
      <app-icon-with-tooltip
        *ngIf="!!item.role"
        [name]="item.role.name"
        [icon]="item.role.icon"
        [description]="item.role.description">
      </app-icon-with-tooltip>
      {{item.amount}}
    </div>
  </div>
  <div class="mafia-main">
    <app-lobby [sections]="this.lobbySections" [active]="this.getChatName()"></app-lobby>
    <app-chat [phase]="this.phase"
              [username]="this.username"
              [userID]="this.userID"
              [characterName]="this.getChatName()"
              [characterAvatar]="this.getChatAvatar()"
              [isDead]="!this.isAlive && this.started"
              [canSend]="!this.isAlive || !this.started || this.isDay || (!this.isDay && this.myRole === 2)">
    </app-chat>
    <div class="mafia-sidebar">
      <div *ngIf="!this.started && isLeader" class="panel-item">
        <div>
          <button class="roleButton" (click)="this.addRole(role)" *ngFor="let role of this.roles">
            <app-icon-with-tooltip [name]="role.name"
                                   [icon]="role.icon"
                                   [description]="role.description">
            </app-icon-with-tooltip>
          </button>
        </div>
        <div>
          <div class="selectedRoleData" *ngFor="let roleData of this.roleCounts"
               (click)="this.removeRole(roleData.role)">
            <app-icon-with-tooltip [name]="roleData.role.name"
                                   [icon]="roleData.role.icon"
                                   [description]="roleData.role.description">
            </app-icon-with-tooltip>
            {{roleData.count}}
          </div>
        </div>
        <mat-form-field appearance="fill" class="selection">
          <mat-label>Character Set</mat-label>
          <mat-select [(value)]="this.characterGroupChoice">
            <mat-option
              *ngFor="let charGroup of this.characterGroups"
              [value]="charGroup.id">
              {{charGroup.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button
                [class.startGameButton]="this.canStartGame()"
                [class.disabledStartGameButton]="!this.canStartGame()"
                [disabled]="!this.canStartGame()"
                (click)="this.startGame()">Start Game
        </button>
      </div>
      <h2 *ngIf="this.started">{{this.isDay ? 'Day' : 'Night'}} {{this.dayCount}}</h2>
      <div *ngIf="this.started && !this.isDay" class="willArea">
        <label>Write a Will</label>
        <mat-form-field class="willFormField">
          <mat-label>Write some words for when you die</mat-label>
          <textarea (keyup)="this.willSubject.next(will.value)" matInput placeholder="I cry for I die" #will></textarea>
        </mat-form-field>
      </div>
      <div *ngIf="this.started && this.isAlive" [formGroup]="this.votingFormGroup">
        <div class="panel-item mat-elevation-z8"
             *ngFor="let container of this.voteContainers; trackBy: voteContainerTrackBy">
          <h2>{{container.title}}</h2>
          <div>
            <table>
              <tr *ngFor="let vote of container.list">
                <td>
                  {{vote.name}}:
                </td>
                <td>
                  {{vote.vote}}
                </td>
              </tr>
            </table>
          </div>
          <mat-form-field appearance="fill" class="selection"
                          *ngFor="let field of container.fields; trackBy: voteFieldTrackBy">
              <mat-label *ngIf="field.type === 'option'">Choose who to vote for</mat-label>
              <mat-select [formControlName]="this.getFormControlName(field)" *ngIf="field.type === 'option'">
                <mat-option
                  [value]="'No One'"
                  (click)="this.sendDayVote('No One', field.barrierID)">
                  No One
                </mat-option>
                <mat-option
                  *ngFor="let char of this.aliveCharacterNames"
                  [value]="char"
                  (click)="this.sendDayVote(char, field.barrierID)">
                  {{char}}
                </mat-option>
              </mat-select>
            <mat-label *ngIf="field.type === 'text'">Type a 4+ letter word to curse</mat-label>
              <input matInput type="text" (keyup)="this.sendVoteTextEvent(field)" [formControlName]="this.getFormControlName(field)" *ngIf="field.type === 'text'">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
