<div class="chat-holder-holder">
  <div class="chat-holder">
    <div class="chat-table-holder" #chatTableHolder>
      <table class="chat-table" #chatTable>
        <tr *ngFor="let message of this.messages">
          <td class="sender-avatar-holder"><img [src]="message.avatar" class="sender-avatar"></td>
          <td>
            <div [class.dead]="message.type === 0" class="messageContent">
              <div class="sender">{{message.sender}}</div>
              <div class="messageText">
                <span *ngFor="let messageData of message.data">
                  <span *ngIf="messageData.isEmote">
                    <img class="emote" [src]="messageData.image">
                  </span>
                  <span *ngIf="!messageData.isEmote">{{messageData.code}}</span>
                </span>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <mat-form-field class="chat-input" appearance="fill">
      <mat-label>Send Message...</mat-label>
      <input matInput type="text" (keyup)="ChatOnKey($event)" [matAutocomplete]="auto" #chatEntry>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let emote of this.filteredEmotes" [value]="getAutocompletedMessage(emote)" (click)="this.filteredEmotes = []">
          <img class="emote" [src]="this.emoteMap.get(emote)">{{emote}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
